<!DOCTYPE html>
<!-- <html> -->
<!-- <head>
		<title>Dryclean</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.3.0/material.amber-blue.min.css">
		<script defer type="text/javascript" src="https://code.getmdl.io/1.3.0/material.min.js"></script>
		<link rel="manifest" href="/manifest/manifest.json">

		<meta charset="utf-8" name="apple-mobile-web-app-capable" content="yes">
		<meta charset="utf-8" name="apple-mobile-web-app-status-bar-style" content="black">
		<meta charset="utf-8" name="apple-mobile-web-app-title" content="PWA ios clean"
		>
		<link rel="apple-touch-icon" type="text/css" href="/icons/icons8-washing-machine-96.png" sizes="96x96">
		<link rel="apple-touch-icon" type="text/css" href="/icons/icons8-washing-machine-480.png" sizes="480x480">

		<meta charset="utf-8" name="msapplication-TileImage" content="/icons/icons8-washing-machine-480.png">
		<meta charset="utf-8" name="msapplication-TileColor" content="#ffff">
		<meta charset="utf-8" name="theme-color" content="#3f51b5">

	</head> -->
<!-- <body>
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="/">Dryclean</a>
					</div>
					<!-- <div class="collapse navbar-collapse"> -->
<div>
	<ul class="nav navbar-nav navbar-right">
		<li>
			<a href="/login">Login</a>
		</li>
		<li>
			<a href="/register">Signup</a>
		</li>
		<li>
			<a href="/logout">Logout</a>
		</li>
	</ul>
</div>
</div>
</nav> -->