.Confirmation {
  position: fixed;
  z-index: 110;
  background-color: white;
  width: 100%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

.SingleDatePickerInput_calendarIcon {
  background: 0 0;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  padding: 2px;
  margin: 0 2px 0 2px;
}

@media (min-width: 600px) {
  .Confirmation {
    width: 900px;
    left: calc(50%-250px);
  }
}
