<!-- <% include partials/header %>
<div class="container">
	<div class="row">
		<h1 style="text-align:center;">Add new order</h1>
		<div style="width:30%;margin:35px auto;">
			<form action="/orderreceive" method="POST">
				<div class="form-group">
					<input class="form-control"	type="text" name="clothname" placeholder="CLoth Type">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="description" placeholder="description">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="user[username]" placeholder="Customer Name">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="user[mobilenumber]" placeholder="Customer mbole no.">
				</div>
				<div class="form-group">
					<button class="btn btn-primary btn-lg btn-default btn-lock">Submit</button>
				</div>
			</form>
			<a href="/initial">Back</a>
		</div>
	</div>
	
</div>
<script type="text/javascript" src="/js/collect.js"></script>
<% include partials/footer %> -->