<!-- <% include partials/header %>

<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1>Collect/Deliver Units</h1>
			<p>
				<a class="btn btn-primary btn-large" href="/orderreceive">Collect</a>
			</p>
			<p>
				<a class="btn btn-primary btn-large" href="/orderdeliver">Deliver</a>
			</p>
			<button id="collect" class="btn btn-primary btn-lg btn-default btn-lock">Baner</button>
		</div>
	</header>	
</div>
<script type="text/javascript" src="/js/idb.js"></script>
<script type="text/javascript" src="/js/application.js"></script>
<script type="text/javascript" src="/js/collection.js"></script>
<% include partials/footer %> -->