<% include partials/header %>
	<main class="mdl-layout__content mat-typography">
		<div class="page-content">
			<h5 class="text-center mdl-color-text--primary">Ain't nobody payng for that :/</h5>
			<p>Try this <a href="/">Home</a></p>
		</div>
	</main>
<% include partials/footer %>